
<div class="modal-overlay {{if active 'active' ''}} g-modal-add-collaborator">
  <div class="modal" style="width:auto;height: auto; max-height: 88vh;overflow: scroll;">
    <a class="close ico_close-mo" href="" {{action 'closemodal'}}></a>
    <div class="g-people-modal attachment-document-modal" style="width: 100%">
      <div class="dialog-title" style="margin-bottom: 30px !important;">
        <span style="border-bottom:2px solid #51caff; padding-bottom:5px;">{{if workflow workflow.name "Preview Workflow"}}</span>
      </div>
      <div style="border:1px solid #ccc;padding: 10px; margin-bottom: 25px;">{{workflow.description}}</div>
      <!-- {{reg/support/g-reg-notify type=notification.type msg=notification.msg}} -->
      <div style="border:1px solid #ccc; padding:10px; cursor: all-scroll;">
        <img id='workflow{{wid}}' class='zoom' src={{snapshot}} width="100%" height="100%" style="height: auto;"/>
         {{!-- <img id='workflow{{wid}}' class='zoom' src={{snapshot}} width="100%" height="100%"/> --}}
      </div>
      {{#if showButton}}
        <button class="primary" {{action 'clickImage'}}>Click here to zoom in</button>
      {{/if}}
    </div>
  </div>
</div>
