{{settings/support/g-submenu class='content-header'}}
<div class="content inner profile-container">
  <form class="g-password g-profile">
    <div class="portrait">
      <div class="g-avatar" id="userImage" style={{safe-style imageurl "margin: 0 auto; background-size: cover;"}}></div>
      <h3 class="g-pprofile-name">{{userName}}</h3>
    </div>
  	{{reg/support/g-reg-notify type=notification.type msg=notification.msg}}
    <div class="g-form-group mb-2">
      <label class="g-control-label">Current Password</label>
      {{input value=oldPassword type=(if passwordVisible "text" "password") name="oldPassword" class="g-form-control"}}
    </div>
    <div class="g-form-group">
      <label class="g-control-label">New Password</label>
      {{input value=newPassword type=(if passwordVisible "text" "password") name="newPassword" class="g-form-control"}}
    </div>
    <div class="g-form-group">
      <label class="g-control-label">Confirm Password</label>
      {{input value=confirmPassword type=(if passwordVisible "text" "password") name="confirmPassword" class="g-form-control"}}
    </div>
    <br>
    <ul class="profile-g-list-unstyled q-text-center" style="border-bottom: none; margin-left: 10px;">
      <li> <button class="primary button-cancel no-margin" {{action "cancel"}} style="display: block !important;">Cancel</button> </li>
      <li><button class="primary"  {{action "save"}} style="margin-left: 10px;"  disabled={{isNotFilled}}>Save</button></li>
    </ul>
  </form>
</div>