{{reg/support/g-reg-notify type=notification.type msg=notification.msg}}
{{#unless projectWorkflowSteps.length}}
	<div class="g-documents empty">
	  <hr/>
	 <h2 class="q-text-center">It looks like there are no Tasks here for now!.</h2>
	</div>
{{/unless}}
{{#each filteredUserTasks as |userTask|}}
	<div class="g-task-container">
		<div class="task-container">
			<div class="task-block">
				<ul>
					<li>
						<div class="left"> 
							<h3 class="rbt-fnt-med mt-0">{{userTask.task.title}}</h3>
              {{#if (if-equal userTask.taskType 'approve' true false) }}
                <p class="rbt-fnt-reg task-descp no-margin">You {{ if-equal userTask.responseStatus 'not_responded' 'have been' 'were'}} assigned to approve this {{#link-to 'app.documents.document-view' userTask.task.id}}Document {{/link-to}}.</p>
              {{else if (if-equal userTask.taskType 'decision' true false) }}
                <p class="rbt-fnt-reg task-descp no-margin">You {{ if-equal userTask.responseStatus 'not_responded' 'have been' 'were'}} assigned to take a Decision.</p>
              {{else if (if-equal userTask.taskType 'assign' true false) }}
                <p class="rbt-fnt-reg task-descp no-margin">You {{ if-equal userTask.responseStatus 'not_responded' 'have been' 'were'}} assigned to work on this {{#link-to 'app.documents.document-view' userTask.task.id}}Document {{/link-to}}.</p>
              {{/if}}
						</div>
					</li>
					<li class="pull-right">
						<div class="right">
              {{#if (if-equal userTask.responseStatus 'not_responded' true false)}}
  							{{#if (if-equal userTask.taskType 'approve' true false) }}
                  <button
                    class="trans-gray-btn" {{ action 'showRejectReason' userTask}}
                  >
                    Reject
                  </button>
                  <button
                    class="gray-btn-secondary ml-1"
                    {{ action 'acceptTask' userTask}}
                  >
                    Approve
                  </button>
                {{else if (if-equal userTask.taskType 'decision' true false) }}
                  <button
                    class="trans-gray-btn" {{ action 'showRejectReason' userTask}}
                  >
                    Reject
                  </button>
                  <button
                    class="gray-btn-secondary ml-1"
                    {{ action 'acceptTask' userTask}}
                  >
                    Approve
                  </button>
                {{else if (if-equal userTask.taskType 'assign' true false) }}
                  <button
                    class="outline-info-btn"
                    {{action 'acceptTask' userTask}}
                  >
                    Mark as complete
                  </button>
                {{/if}}
              {{/if}}
						</div>
					</li>
					<div class="clearfix"></div>
				</ul>
			</div>
		</div>
	</div>
{{/each}}
{{ tasks/g-reject-popup task=selectedTask rejectTask='rejectTask' active=rejectReasonVisible }}
