{{#if workflow}}
	<div class="modal-overlay {{if active 'active' ''}} g-modal-add-collaborator">
		<div class="modal"  style="width: auto; height: auto;">
			<a class="close ico_close-mo" href="" {{action (toggle 'active')}}></a>
			<div class="g-people-modal">
				<div class="dialog-title" style="color:#51caff">{{workflow.name}}</div>
				<div class="dialog-input">
					<div class="colloborator-modal">
						<dl class="modal-doc-info">
						  <dt><b>Workflow Category</b></dt>
						  <dd>{{workflow.category.name}}</dd>
							<dt><b>Workflow Owner</b></dt>
							<dd>
								{{if workflow.created_by workflow.created_by.email "-"}}
							</dd>
							<dt><b>Description</b></dt>
							{{#if workflow.description}}
							<dd><p class="min-line-height">{{workflow.description}}</p>
								
							</dd>
							{{else}}
							<dd>
								Not Available
							</dd>		
							{{/if}}
							<dt><b>Created At</b></dt>
							<dd>{{fuzzy-date workflow.createdAt time_zone}}</dd>
							<dt><b>Workflow Status</b></dt>
							{{#if workflow.published}}
								<dd>Published</dd>
							{{else}}
								<dd>Created</dd>
							{{/if}}
							<dt><b>Modified Date</b></dt>
							<dd>{{fuzzy-date workflow.updatedAt time_zone}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}
